<div class="container mt-5">
  <mat-form-field appearance="fill" class="mb-4">
    <mat-label>Search products</mat-label>
    <input matInput (input)="search($event)" />
  </mat-form-field>

  <div class="d-flex flex-wrap">
    <!-- Use flexbox to wrap items -->
    <app-product-card
      *ngFor="let product of filteredProducts"
      [product]="product"
      (addToCartEvent)="addToCart($event)"
      class="flex-item"
    >
      <!-- Add class for styling -->
    </app-product-card>
  </div>
</div>
