<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <mat-card>
        <mat-card-content>
          <h4 class="text-center">Checkout</h4>

          <div class="flex-container">
            <!-- Display Cart Products -->
            <div class="products-container">
              <h5>Products in Your Cart</h5>
              <div class="products-list">
                <div *ngFor="let product of products" class="product-card">
                  <mat-card class="h-100 mb-3">
                    <a [routerLink]="['/product', product.id]">
                      <img
                        mat-card-image
                        [src]="'data:image/jpeg;base64,' + product.image"
                        alt="Product Image"
                        class="product-image"
                      />
                    </a>
                    <mat-card-content>
                      <h5 mat-card-title>{{ product.category.name }}</h5>
                      <p mat-card-subtitle>
                        Price: {{ product.price | currency : "INR" }}
                      </p>
                      <p>Quantity: {{ getCartQuantity(product.id) }}</p>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>

            <!-- Address Component to Display All Addresses -->
            <div class="address-container">
              <app-address
                (addressSelected)="selectAddress($event)"
                [addresses]="addresses"
              ></app-address>

              <!-- Button to Add New Address -->
              <!-- <button
                mat-raised-button
                color="primary"
                (click)="showAddressForm = true"
              >
                Add New Shipping Address
              </button> -->

              <!-- New Address Form -->
              <!-- <div *ngIf="showAddressForm">
                <mat-form-field appearance="fill" class="mb-3 w-100">
                  <mat-label>Street</mat-label>
                  <input matInput [(ngModel)]="newAddressInput" required />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mb-3 w-100">
                  <mat-label>City</mat-label>
                  <input matInput [(ngModel)]="newCityInput" required />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mb-3 w-100">
                  <mat-label>State</mat-label>
                  <input matInput [(ngModel)]="newStateInput" required />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mb-3 w-100">
                  <mat-label>Zip Code</mat-label>
                  <input matInput [(ngModel)]="newZipCodeInput" required />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mb-3 w-100">
                  <mat-label>Country</mat-label>
                  <input matInput [(ngModel)]="newCountryInput" required />
                </mat-form-field>
              </div> -->
            </div>
          </div>

          <form (submit)="placeOrder()">
            <div class="d-grid">
              <button mat-raised-button color="success" type="submit">
                Place Order
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
